<div class="container">
    <h1>Car brands</h1>
    <div class="col" style="height: 7vh" ;>
        <a class="btn btn-outline-light btn-lg " href="/carbrand/new">Marke hinzufügen</a>
    </div>
    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <% carbrands.forEach(function(carbrand){ %>
                    <tr>
                        <td>
                            <%= carbrand.name %>
                        </td>
                        <td>
                            <a class="button" href="/carbrand/<%= carbrand.id %>/destroy">löschen</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>