<div class="container">
    <h2 class="mt-4">Ihr Einkauswagen</h2>

    <% if(req.session.basket && req.session.basket.length> 0){ %>
        <table class="table mt-4">
            <tr>
                <th>
                  Titel  
                </th>
                <th>
                    Preis  
                  </th>
                  <th>
                    Entfernen  
                  </th>
            </tr>
            <% req.session.basket.forEach(function(product,index){ %>
                <tr>
                    <td class="product-title">
                        <%= product.titel %> <BR>
                    </td>
                    <td class="product-price">
                        <%= product.preis %> &euro;
                    </td>
                    <td class="product-price">
                        <a class="badge badge-primary bg-dark" href="/shoppingbasket/remove/<%= index %>">entfernen</a>
                    </td>
                </tr>
            <% }) %>
        </table>
        <div class="mb-4">
            <a class="btn btn-primary" href="/Suche">Weitere Artikel bestellen</a></li>
            <a class="btn btn-primary">Bestellung abschliessen</a></li>
        </div>
    <% } else{ %>
        <p>Der Warenkorb ist leer.</p>
        <div class="mb-4">
            <a class="btn btn-primary" href="/Suche">Zu den Artikeln</a></li>
        </div>
    <% } %>
</div>