<div id="edit-password"k>
    <div class="container pt-5 pb-5">
      <h1>Passwort ändern</h1>
      <hr/>
      <form action="/updatePassword" method="POST">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group text-white">
              <label for="password">Neues Passwort</label>
              <input class="form-control" id="password" name="password" type="password"   placeholder="••••••••" autocomplete="new-password" focus-first>
              <div class="invalid-feedback" v-if="formErrors.password">Bitte neues Passwort eingeben.</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group text-white">
              <label for="confirm-password">Bestätigen</label>
              <input class="form-control" id="confirm-password" name="confirm-password" type="password"  autocomplete="new-password" placeholder="••••••••">
              <div class="invalid-feedback" v-if="formErrors.confirmPassword">Die Passwörter stimmen nicht überein.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <cloud-error v-if="cloudError"></cloud-error>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <a class="btn btn-light" href="/Profil">Zurück</a>
              <button type="submit" class="btn btn-light">Speichern</button>
            </div>
          </div>
        </div>
      </ajax-form>
    </div>
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  