<div class="container">
    <h1>Kategorien</h1>
    <div class="col vh-7">
        <a class="btn btn-outline-light btn-lg " href="/category/new">Kategorie hinzufügen</a>
    </div>
    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Optionen</th>
            </thead>
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <a class="button" href="/category/<%= category.id %>/destroy">löschen</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>