<div class="container">
    <form action="/category" method="post">
        <div>
            <div class="form-group">
                <label class="col-form-label-lg">Name</label>
                <input type="text" class="form-control" maxlength="50" name="name">
            </div>
        </div>
        <button type="submit" class="green-button mt-4">Hinzufügen</button>
    </form>
</div>