<div class="container">
    <h2>Neues Produkt</h2>
    <form action="/product" method="post">
        <div>
            <div class="form-group">
                <label class="col-form-label-lg text-white">Titel</label>
                <input type="text" class="form-control" maxlength="50" name="titel" required>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg text-white">Beschreibung</label>
                <input type="text" class="form-control" maxlength="200" name="beschreibung" required>
            </div>
            <div class="form-group">
                <label class="col-form-label-lg text-white">Preis</label>
                <input type="numeric" class="form-control" maxlength="255" name="preis" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label-lg text-white">Modell</label>
            <select class="form-control" name="carmodel">
                <% carmodels.forEach(function(carmodel){ %>
                    <option value="<%= carmodel.id %>">
                        <%= carmodel.name %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label class="col-form-label-lg text-white">Kategorie</label>
            <select class="form-control" name="category">
                <% categories.forEach(function(category){ %>
                    <option value="<%= category.id %>">
                        <%= category.name %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-light mt-4">Hinzufügen</button>
    </form>
</div>