main {
    
  
    text-align: center;
}

.ueberschrift{
    
  max-width: 100%;
    text-align: center;
}

main, body{
    height:100%;
    background-color: #303030;
    padding: 0;
    margin: 0;
}

html{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

p, h1, h2{
    color: white;
}
#ueberschrift{
    color: black;
}
footer{
    border-top: solid;
    border-color: white;
    margin: auto;
    
}

header{
    
    position: sticky;
    top: 0;
}
.container-fluid{
    overflow:hidden;
}
@media(max-width: 768px){
    .bg-image{
        background-size: auto;}
    }