html {
    min-height: 100%;
}

body {
    background-color: #303030;
}

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    text-align: center;
}

footer {
    background-color: #303030;
    border-top: solid;
    border-color: white;
    margin: auto;
}

h1,
h2,
p {
    color: white;
}

h1 {
    margin: 2rem;
    padding: 1rem;
}

h2 {
    margin: 1rem;
    padding: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.col, .row {
    margin: 0;
    padding: 0;
}

#table1,
#table2,
#table3 {
    gap: 5;
}

#table1 .row,
#table2 .row,
#table3 .row {
    margin-top: 0;
}

#table1 .col,
#table2 .col,
#table3 .col {
    margin-top: 0;
    margin-bottom: 0;
}

#table1 p,
#table2 p,
#table3 p {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
    .bg-image {
        background-image: url('/images/background_mobile.webp');
        background-size: cover;
        height: 96vh;
    }
}
@media only screen and (min-width: 900px) {
    .bg-image {
        background-image: url('/images/background.webp');
        background-size: cover;
        height: 96vh;
    }
}

input[type=text] {
    border: 1px solid white;
    border-radius: 4px;
  }
