<div class="container-fluid">
    <h2>Willkommen in der Administrationsoberfläche</h2>
    <div class="card w-100 p-0">
        <div class="card-header p-4">
            <h4><b>Verwalten</b></h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-4">
                <a class="btn btn-dark btn-lg" href="/carbrand">Marken verwalten</a>
            </li>
            <li class="list-group-item p-4">
                <a class="btn btn-dark btn-lg" href="/carmodel">Modelle verwalten</a>
            </li>
            <li class="list-group-item p-4">
                <a class="btn btn-dark btn-lg" href="/category">Kategorien verwalten</a>
            </li>
            <li class="list-group-item p-4">
                <a class="btn btn-dark btn-lg" href="/products">Produkte</a>
            </li>
        </ul>
    </div>
</div>