<div class="container-fluid h-100 p-0">
    <div class="row flex-column h-100 m-0">
        <div class="col-12 flex-grow-1 p-2">
            <h2>Impressum</h2>
            <div class="border-bottom border-top">
                <p>Turboparts24<br />
                    DieEineStraße 1<br />78467 Konstanz</p>
                <p>Telefon: 01230110100<br />
                    E-Mail: <a href="mailto:turbo.parts@mail.com">turbo.parts@mail.com</a><br />
                </p>
                <p><strong>Vertreten durch:</strong><br />Führungsbeauftragten P&T</p>
                <p><strong>Registereintrag:</strong><br />Eingetragen im Handelsregister.<br />Registergericht:
                    DasGericht<br />Registernummer: 12345678</p>
                <p><strong>Umsatzsteuer-ID: </strong><br />Umsatzsteuer-Identifikationsnummer nach §27a
                    Umsatzsteuergesetz:<br />54321</p>
                <p><strong>Wirtschafts-ID: </strong>Wirtschafts-IdNr: 1357246</p>
                <br>
                <br>
                <h1>Datenschutzerklärung</h1>

                <h2>Allgemeiner Hinweis und Pflichtinformationen</h2>
                <h3>Benennung der verantwortlichen Stelle</h3>
                <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
                <p><span id="s3-t-firma">TurboParts24</span><br><span id="s3-t-ansprechpartner">Führungsbeauftragten
                        P&T</span><br><span id="s3-t-strasse">DieEineStraße 1</span><br><span id="s3-t-plz">78467</span>
                    <span id="s3-t-ort">Konstanz</span></p>
                <p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel
                    der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).</p>
                <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
                <p>Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein
                    Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine
                    formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung
                    bleibt vom Widerruf unberührt.</p>
                <h3>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</h3>
                <p>Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei
                    der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher
                    Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unseres
                    Unternehmens befindet. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren
                    Kontaktdaten bereit: <a
                        href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
                        target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
                </p>
                <h3>Recht auf Datenübertragbarkeit</h3>
                <p>Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines
                    Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Bereitstellung
                    erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen
                    anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
                <h3>Recht auf Auskunft, Berichtigung, Sperrung, Löschung</h3>
                <p>Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche
                    Auskunft über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und
                    den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser
                    Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich
                    jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.</p>
                <h3>SSL- bzw. TLS-Verschlüsselung</h3>
                <p>Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als
                    Seitenbetreiber senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten,
                    die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine verschlüsselte
                    Verbindung an der „https://“ Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.
                </p>

                <h2>Server-Log-Dateien</h2>
                <p>In Server-Log-Dateien erhebt und speichert der Provider der Website automatisch Informationen, die
                    Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
                <ul>
                    <li>
                        <p>Besuchte Seite auf unserer Domain</p>
                    </li>
                    <li>
                        <p>Datum und Uhrzeit der Serveranfrage</p>
                    </li>
                    <li>
                        <p>Browsertyp und Browserversion</p>
                    </li>
                    <li>
                        <p>Verwendetes Betriebssystem</p>
                    </li>
                    <li>
                        <p>Referrer URL</p>
                    </li>
                    <li>
                        <p>Hostname des zugreifenden Rechners</p>
                    </li>
                    <li>
                        <p>IP-Adresse</p>
                    </li>
                </ul>
                <p>Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der
                    Datenverarbeitung bildet Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung
                    eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>

                <h2>Datenübermittlung bei Vertragsschluss für Warenkauf und Warenversand</h2>
                <p>Personenbezogene Daten werden an Dritte nur übermittelt, sofern eine Notwendigkeit im Rahmen der
                    Vertragsabwicklung besteht. Dritte können beispielsweise Bezahldienstleister oder
                    Logistikunternehmen sein. Eine weitergehende Übermittlung der Daten findet nicht statt bzw. nur
                    dann, wenn Sie dieser ausdrücklich zugestimmt haben.</p>
                <p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten
                    zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>
            </div>
        </div>
    </div>
</div>