<div class="container-fluid h-100 p-0">
    <div class="row flex-column h-100 m-0">
        <div class="col-12 flex-grow-1 p-2">
            <h2>Impressum</h2>
            <div class="border-bottom border-top">
                <p>
                    <b>Anbieter der Website:</b>
                    <br>
                    TurboParts24 GmbH
                    <br>
                    EineStraße 1
                    <br>
                    0123456789
                    <br>
                    einemail@mail.com
                </p>
            </div>
        </div>
    </div>
</div>