<div class="container-fluid h-100 p-0">
    <div class="row flex-column h-100 m-0">
        <div class="col-12 flex-grow-1 p-2">
            <h2>Impressum</h2>
            <div class="border-bottom border-top">
                <p>Turboparts24<br />
                    DieEineStraße 1<br />78467 Konstanz</p>
                <p>Telefon: 01230110100<br />
                    E-Mail: <a href="mailto:turbo.parts@mail.com">turbo.parts@mail.com</a><br />
                </p>
                <p><strong>Vertreten durch:</strong><br />Führungsbeauftragten P&T</p>
                <p><strong>Registereintrag:</strong><br />Eingetragen im Handelsregister.<br />Registergericht:
                    DasGericht<br />Registernummer: 12345678</p>
                <p><strong>Umsatzsteuer-ID: </strong><br />Umsatzsteuer-Identifikationsnummer nach §27a
                    Umsatzsteuergesetz:<br />54321</p>
                <p><strong>Wirtschafts-ID: </strong>Wirtschafts-IdNr: 1357246</p>
            </div>
        </div>
    </div>
</div>