<div class="container-fluid h-100 p-0">
    <div class="row flex-column h-100 m-0">
        <div class="col-12 flex-grow-1 p-2">
            <h2>Bestellung abgeschlossen</h2>
            <div class="border-bottom border-top">
                <p>
                    <b>Bestellung erfolgreiche aufgegeben.</b>
                    <br>

                </p>
            </div>
            <a href="/Home" type="button" class="btn btn-light btn-lg ">Zur Startseite</a>
        </div>
    </div>
</div>