<div id="signup">
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Jetzt Registrieren</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <p class="text-center">Los geht's! Werde jetzt kostenlos Mitglied.</p>
      <hr />
      <form class="text-white" action="signup" method="POST">

        <div class="form-group">

          <label for="full-name">Vollständiger Name</label>
          <input class="form-control" id="full-name" name="fullName" type="text" placeholder="Max Mustermann"
            autocomplete="name" focus-first required>
          <div class="invalid-feedback">Bitte gebe deinen vollständigen Namen ein.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Email Adresse</label>
          <input class="form-control" id="email-address" name="emailAddress" type="email"
            placeholder="maxmuster@beispiel.de" autocomplete="email" required>
          <div class="invalid-feedback">Bitte gebe eine valide Email Adresse ein.</div>
        </div>
        <div class="form-group">
          <label for="password">Passwort</label>
          <input class="form-control" id="password" name="password" type="password" placeholder="••••••••"
            autocomplete="new-password" required>
          <div class="invalid-feedback">Bitte gebe ein Passwort ein.</div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-light btn-lg my-2 text-black">Registrieren</button>
        </div>
        </ajax>
        <p class="text-center">Du hast bereits einen Account?<br><a href="/Anmelden">Jetzt Anmelden</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>