<div class="container-fluid h-100 p-0">
    <div class="row flex-column h-100 m-0">
        <div class="col-12 flex-grow-1 p-2">
            <h2>Profil</h2>
            <div>
                <div class="mb-3">
                    <label class="form-label text-white">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="Name"
                        placeholder="Name"
                    />
                    <button class="submit btn btn-light">Speichern</button>
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        name="Email"
                        placeholder="Email"
                    />
                    <button class="submit btn btn-light">Speichern</button>
                </div>
                
            </div>
        </div>
    </div>
</div>