<div class="container">
    <h1>Modelle</h1>
    <div class="col" style="height: 7vh" ;>
        <a class="btn btn-outline-light btn-lg " href="/carmodel/new">Modell hinzufügen</a>
    </div>
    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Marke</th>
            </thead>
            <tbody>
                <% carmodels.forEach(function(carmodel){ %>
                    <tr>
                        <td>
                            <%= carmodel.name %>
                        </td>
                        <td>
                            <%= carmodel.carbrand.name %>
                        </td>
                        <td>
                            <a class="button" href="/carmodel/<%= carmodel.id %>/destroy">löschen</a>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>