<div class="container">
    <form action="/carmodel" method="post">
        <div>
            <div class="form-group">
                <label class="col-form-label-lg text-white">Name</label>
                <input type="text" class="form-control" maxlength="50" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label-lg text-white">Marke</label>
            <select class="form-control" name="carbrand">
                <% carbrands.forEach(function(carbrand){ %>
                    <option value="<%= carbrand.id %>">
                        <%= carbrand.name %>
                    </option>
                    <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-light mt-4">Hinzufügen</button>
    </form>
</div>